mat-action-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

mat-action-list > h3{
  width: 300px;
}

mat-action-list > mat-checkbox{
  width: 150px;
}
